@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothicBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Century Gothic', sans-serif;
}
